IS_LOCALHOST=true
BASE_PATH=/arbeid/dagpenger/brukerdialog-frontend/
USE_MSW=true

APP_ENV=development
SANITY_DATASET=production

FARO_URL=http://localhost:12347/collect

UNLEASH_SERVER_API_TOKEN="" # Finn token her https://dagpenger-unleash-web.nav.cloud.nais.io/admin/api
UNLEASH_SERVER_API_URL=https://dagpenger-unleash-api.nav.cloud.nais.io/api

DP_SOKNAD_ORKESTRATOR_URL=https://dp-soknad-orkestrator.intern.dev.nav.no

DP_INNSYN_TOKEN=
