@import "@navikt/ds-css/dist/index.css";

:root {
  --app-max-width: 768px;
  --app-min-height: 40vh;
}

#maincontent {
  max-width: var(--app-max-width);
  min-height: var(--app-min-height);
  margin: var(--a-spacing-4) auto;
}

.brukerdialog {
  padding: var(--a-spacing-16) var(--a-spacing-4);
}

.preprod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.expansion-card--pdf {
  background-color: var(--a-purple-100);
  border: none;
}

.text-center {
  text-align: center;
}

.card {
  padding: var(--a-spacing-8);
  background-color: var(--a-gray-100);
  border-radius: var(--a-spacing-4);
  margin-bottom: var(--a-spacing-8);
}

.mt-14 {
  margin-top: var(--a-spacing-14);
}

.mt-4 {
  margin-top: var(--a-spacing-4);
}

.mt-8 {
  margin-top: var(--a-spacing-8);
}

.mb-4 {
  margin-bottom: var(--a-spacing-4);
}

.mr-2 {
  margin-right: var(--a-spacing-2);
}

/* Overskriver stilene til ExpansionCard-komponenten */
.navds-expansioncard__header,
.navds-expansioncard__content {
  border: 0;
}

/* Overskriver stilene til ExpansionCard-komponenten */
:where(.navds-expansioncard__header):hover + .navds-expansioncard__content,
.navds-expansioncard__header:hover {
  box-shadow: none;
}

.expansionCard {
  background-color: var(--a-purple-100);
  border: none;
}

.iframe--container {
  margin-top: 5rem;
  border: 3px solid var(--a-orange-300);
  padding: 0 3rem;
  position: relative;
}

.iframe {
  width: 100%;
  height: 1050px;
  border: none;
}

.iframe--title {
  display: inline;
  position: absolute;
  top: -1rem;
  right: 1rem;
}
