:root {
  --app-max-width: 787px;
  --app-min-height: 65vh;
  --innhold-max-width: 576px;
}

#maincontent {
  max-width: var(--app-max-width);
  min-height: var(--app-min-height);
  margin: var(--ax-space-40) auto;
  padding: var(--ax-space-16);
}

.soknad-header {
  display: flex;
  align-items: center;
  gap: var(--ax-space-16);
  margin-bottom: var(--ax-space-32);
}

.seksjon-navigasjon {
  margin-top: var(--ax-space-64);
}

.progressbar {
  max-width: var(--innhold-max-width);
  margin: 0 auto var(--ax-space-56);
}

.innhold {
  max-width: var(--innhold-max-width);
  margin: 0 auto;
}

.footer {
  margin-top: var(--ax-space-80);
}

.forklarende-tekst p,
.forklarende-tekst h2,
.forklarende-tekst h3 {
  margin: var(--ax-space-16) 0;
}

.text-center {
  text-align: center;
}

.card {
  padding: var(--ax-space-32);
  background-color: var(--ax-neutral-200);
  border-radius: var(--ax-space-16);
  margin-bottom: var(--ax-space-32);
}

.mt-4 {
  margin-top: var(--ax-space-16);
}

.ml-4 {
  margin-left: var(--ax-space-16);
}

.mt-8 {
  margin-top: var(--ax-space-32);
}

.mt-14 {
  margin-top: var(--ax-space-56);
}

.mt-12 {
  margin-top: var(--ax-space-48);
}

.mb-4 {
  margin-bottom: var(--ax-space-16);
}

.mr-2 {
  margin-right: var(--ax-space-8);
}

/* Overskriver stilene til ExpansionCard-komponenten */
.navds-expansioncard__header,
.navds-expansioncard__content {
  border: 0;
}

/* Overskriver stilene til Aksel Base Alert-komponenten */
.aksel-base-alert p {
  margin: 0;
}

/* Overskriver stilene til ExpansionCard-komponenten */
:where(.navds-expansioncard__header):hover + .navds-expansioncard__content,
.navds-expansioncard__header:hover {
  box-shadow: none;
}

.navds-alert .navds-body-long.navds-typo--spacing {
  margin-bottom: 0;
}

.fileUpload .navds-dropzone__area {
  background-color: white;
}

.expansionCard {
  background-color: var(--ax-meta-purple-200);
  border: none;
}

.inline {
  display: inline;
}
