:root {
  --pdf-border-radius-4: 4px;
  --pdf-border-radius-16: 15px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 760px;
  margin: 2rem auto;
}

.mt-4 {
  margin-top: calc(4rem / 3);
}

.mt-14 {
  margin-top: calc(14rem / 3);
}

.tag--pdf {
  color: white;
  padding: 0.4rem 0.5rem;
  background-color: #525962;
  border-radius: var(--pdf-border-radius-4);
}

.readmore--pdf > button {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: #0067c5;
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.readmore--pdf > div {
  padding-left: 1rem;
  border-left: 2px solid #071a3636;
  margin-bottom: 1rem;
}

.navds-error-message {
  display: none;
}

textarea {
  resize: none;
  width: 97.5%;
  display: block;
  margin-top: 0.5rem;
  padding: 0.4rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-se;
  border-radius: var(--pdf-border-radius-4);
}

.card {
  padding: 2rem;
  background-color: #eceef0;
  margin-bottom: 2rem;
  border-radius: var(--pdf-border-radius-16);
}

fieldset {
  border: 0;
  padding: 0.5rem 0;
}

fieldset > legend,
.navds-label {
  font-weight: bold;
}

.sendinn-button--pdf {
  background-color: #0067c5;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: bold;
}

.expansion-card--pdf {
  background-color: #e0d8e9;
  border-radius: var(--pdf-border-radius-16);
  padding: 2rem;
}

.expansion-card--pdf button {
  display: none;
}

.iframe--container {
  display: none;
}
