body {
  max-width: 760px;
  margin: 4rem auto;
}

.expansion-card--pdf {
  background-color: var(--a-purple-100);
  border: none;
}

.readmore--pdf > .navds-read-more__content,
.expansion-card--pdf > .navds-expansioncard__content {
  display: block;
}
