.periodeVenstreBorder {
  border-left: 4px solid var(--ax-brand-blue-700);
  padding-left: var(--ax-space-16);
}

.periodeVenstreBorderfra {
  padding-bottom: var(--ax-space-32);
}

.periodeVenstreBordertil {
  position: relative;
  top: calc(-1 * var(--ax-space-32));
}
