.soknadHeader {
  display: block;
  height: 96px;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-top: calc(var(--app-padding) * -1);
  margin-bottom: var(--app-padding);
}

.headerContent {
  max-width: calc(var(--app-max-width) - 80px);
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: 0 var(--app-padding);
}

.icon {
  margin-left: -80px;
  height: 56px;
  width: 56px;
  margin-right: 24px;
}
